<% content_for :body_class, "login" %>

<section class="login-form">

  <% if flash[:error] -%>
      <div class='alert error'><%=h flash[:error] %></div>
  <% end -%>

  <h1> Login </h1>
  <%= form_for(@user, url: {controller:"auth",action: "login"}) do |f| %>

      <div class="form-field">
        <label>用户名:</label>
        <br/>
        <%= f.text_field :username %>
      </div>
      <div class="form-field">
        <label>密码:</label>
        <br/>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "登录", :class=>"primary button"%>
      </div>
  <% end %>

</section>