<section class="part1">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>义梦中国</h1>
        <p class="slogn"><span>义不容辞地行义</span> <span>义无反顾地逐梦</span></p>
      </div>
    </div>
  </div>
</section>

<section class="part2">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>我们是谁？</h2>
        <p class="who-we-are text-left">
          【义梦中国志愿者学院】成立于2013年4月20日，总部在汶川大地震震中映秀镇的汶川青少年活动中心志愿者培养基地。义梦中国的使命是发扬国人在汶川大地震守望相助、不离不弃的志愿者精神，让更多中国人可以义不容辞地行义，义无反顾地追梦。在义梦中国志愿者学院毕业的同学，通过义教，都能把自己最美的那一面展现出来，找到自己的梦想所在，并找到力量去追寻自己的梦想，从而影响别人也可以去追寻自己的梦想。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="part3">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="slides">
            <%= image_tag "slide1.jpg" %>
            <%= image_tag "slide2.jpg" %>
            <%= image_tag "slide3.jpg" %>
            <%= image_tag "slide4.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="part4">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= @event.name %></h2>
      <div class="span3 text-center">
        <%= image_tag "event-image.png" %>
      </div>
      <div class="span5">
        <h3>活动详情</h3>
        <p><span><%= @event.location %> </span> <span><%= @event.data %> </span></p>

        <div class="description">
          <%= @event.describe  %>
        </div>
        <a class="jinshuju" href="https://jinshuju.net/f/qFw1mq" target="_blank">我要报名</a>
      </div>
      <div class="span4 text-center">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=30.540632,104.068646&zoom=14&size=293x293&markers=color:red%7Ccolor:red%7Clabel:A%7C30.540632,104.068646&sensor=false"/>
      </div>
    </div>
  </div>
</section>

<section class="part5">
  <h2>团队的成长</h2>
  <div class="container">
    <div class="row">
      <div class="span12">
        <ul>
          <li>
            <%= image_tag "icon.png" %>
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
          <li>
            <%= image_tag "icon.png" %>
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
          <li>
            <%= image_tag "icon.png" %>
            <span>团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长团队的成长</span>
          </li>
        </ul>
      </div>

    </div>

  </div>
</section>
