<% content_for :body_class, "welcome" %>
<div class="row">
  <section id="main-title">
      <h1>义梦中国</h1>
      <p class="slogan"><span>义不容辞行义</span> <span>义无反顾追梦</span></p>
  </section>
</div>

<div class="row hidden-phone">
    <div id="carousel">

        <div id="slides">
            <%= image_tag "/img/home/slide1.jpg" %>
            <%= image_tag "/img/home/slide2.jpg" %>
            <%= image_tag "/img/home/slide3.jpg" %>
            <%= image_tag "/img/home/slide4.jpg" %>
        </div>

    </div>
</div>

<div class="who-we-are">
  <section class="summary">
    <h2>我们是谁？</h2>
    <p class="text-left">
        【义梦中国】是总部设在汶川青少年活动中心的志愿者（义工）培养基地，致力于为中国培养优秀的学生志愿者，为志愿者打造“成长自己服务别人”的公益平台。义梦学员用义教的方式学习，用行义的方式追梦。志愿学习，我们义不容辞; 快乐追梦，我们义无反顾。
    </p>
    <a class="primary button add-new" href="https://www.jinshuju.net/f/sEZyPe" target="_blank">加入我们</a>
  </section>
</div>

<div class="row story-texture">
  <section id="featured" class="clear">
      <h2>近期活动</h2>

      <%if @events !=nil%>
          <%@events.each do |event| %>
          <div class="event-wrapper align-left" style="margin-top: 30px;">
              <div class="event">
                  <div class="clear event-title-row">
                      <h3 class="subtitle-h3 float-left"><%=event.title%></h3>
                      <span>
                        <%=link_to "我要参加",event.event_url, :class=>"primary button add-new", :id=>"event-register-button", :target => '_blank'%>
                     </span>
                  </div>
                  <div class="clear">
                      <div class="float-left">
                          <span class="time-location">时间：<%= event.event_date %></span>
                          <span class="time-location">地点：<%= event.location %></span>
                      </div>
                  </div>
                  <div id="event-description">
                      <%= event.description %>
                  </div>
              </div>
          </div>
          <div class="map">
              <%= image_tag event.image.url, :class=>"event-full-image" %>
          </div>
              <% end %>

      <%else%>
          <div class="event-wrapper">
              <div class="event">
                  <div class="clear event-title-row">
                      <h3 class="subtitle-h3 float-left">情系山区&middot;扶贫项目</h3>
                  </div>
                  <div class="clear">
                      <div class="float-left">
                          <span class="time-location">时间：2014-04-04</span>
                          <span class="time-location">地点：成都</span>
                      </div>
                  </div>
                  <p>
                      我国西部山区有很多孩子仍然在贫困和闭塞的环境中挣扎成长，他们渴望能得到志愿者给他们持续的爱与支持。团队为有志于参加贵州毕节和四川凉山山区义教的同学提供组织和培训，组建团队亲临贫困山区传播义梦精神，为当地孩子建立自己的学习团队。
                  </p>
              </div>
          </div>
          <div class="map">
              <%= image_tag "/img/home/event-location.png" %>
          </div>
      <%end%>



  </section>
  <h2 class="row-header">团队的成长</h2>
  <section id="stories">
      <ul class="article-list">
          <li> <div class="story-list">
              <a href="/stories/story1" target="_blank">
          <span>
          财神传奇
          </span>
              </a>
              <p class="story-description">贵州贫困山区财神镇义工的故事</p>
          </div>
          </li>
          <li> <div class="story-list">
              <a href="/stories/story2" target="_blank">
          <span>
          映秀风云
          </span>
              </a>
              <p class="story-description">四川地震灾区映秀镇义工的故事</p>
          </div>
          </li>
          <li> <div class="story-list">
              <a href="/stories/story3" target="_blank">
          <span>
          义梦中国
          </span>
              </a>
              <p class="story-description">你和我的故事</p>
          </div>
          </li>
      </ul>
  </section>
</div>
