<% content_for :body_class, "events" %>
<div class="container">
  <%= render :partial => 'logout' %>
  <% if flash[:notice] -%>
      <div class='alert alert-success'><%=h flash[:notice] %> <span class='username'>  <%=session[:username] %> ,  </span> welcome back~~~ yahoo~ >_< ~~</div>
  <% end -%>
    <section>

      <h1 class="title">活动列表</h1>
  
      <%= link_to '新增', admin_events_new_path, :class => 'add-new primary button'%>

      <div class="events-container">
        <% @events.each do |event| %>
          <div class="event">
            <%= image_tag event.image.url(:thumb) %>
            <br/>
            <h2 id="event-title"><%= event.title %></h2>
            <span id="event-location"><%= event.location %></span> | <span id="event-time"><%= event.event_date %></span>
            <div id="event-description">
            <%= event.description %>
            </div>
            <%= link_to '修改',edit_event_path(event) , :class => 'secondary button'%>
            <%= link_to '删除',event_path(event) , method: :delete, data:{ confirm:'删除活动之后将无法恢复，你确认要删除吗？'}, :class => 'secondary button'%>
          </div>
        <%end%>
      </div>

    </section>

</div>
