<% content_for :body_class, "events" %>
<div class="container events">
  <% if flash[:notice] -%>
      <div class='alert alert-success'><%=h flash[:notice] %> <span class='username'>  <%=session[:username] %> ,  </span> welcome back~~~ yahoo~ >_< ~~</div>
  <% end -%>
</div>

  <section>
  <h1 class="title">活动列表</h1>
  <div class="events-container">
    <% @events.each do |event| %>

      <div class="event">
        <%= link_to image_tag(event.image.url(:thumb), :id=>"event-thumb-image"),  {:controller => 'events', :action => 'show', :id => event}%>

        <h2 id="event-title">
          <%= link_to event.title, :controller => 'events', :action => 'show', :id => event %></h2>
        <span id="event-location"><%= event.location %></span> | <span id="event-time"><%= event.event_date %></span>
        <div id="event-description">
        <%= event.description %>
        </div>
      </div>
    <%end%>
    <%= will_paginate @events %>
  </div>

</section>