<div class="container">
  <div class="row">
    <div class="span12">
      <h2>发布新活动</h2>
      <%= form_for :event, url: events_path do |f| %>
          <%= f.label :name, "活动名称"  %>
          <%= f.text_field :name  %>

          <%= f.label :describe, "活动描述"  %>
          <%= f.text_area :describe  %>

          <%= f.label :data, "活动日期"  %>
          <%= f.date_select :data  %>

          <%= f.label :location, "地址"  %>
          <%= f.text_field :location  %>
          <br>
          <%= f.submit "发布活动"  %>
      <% end  %>
    </div>
  </div>
</div>
