<div class="container">
  <div class="row">
    <div class="span12">
      <h2> <%= @event.name %></h2>

      <p>
        <strong>活动描述:</strong>
        <%= @event.describe %>
      </p>

      <p>
        <strong>活动时间:</strong>
        <%= @event.data %>
      </p>

      <p>
        <strong>活动地点:</strong>
        <%= @event.location %>
      </p>

      <%= link_to "查看所有活动", events_path, :style => "color: gray" %>
    </div>
  </div>
</div>
