<% content_for :body_class, "events" %>
<section>
	<%if @event!=nil%>
      <div class="event">
         <% if @event.event_date >= Date.current() %>
            <%=link_to "现在报名",@event.event_url, :class=>"primary button add-new", :target => '_blank'%>
         <% else %>
              <span class=""> 活动已过期</span>
           <% end %>
    		<h1><%=@event.title%></h1>
        <span id="event-location"><%= @event.location %></span> | <span id="event-time"><%= @event.event_date %></span>
         
    	      <br/>
           <%= image_tag @event.image.url, :class=>"event-full-image" %>
            <div id="event-show-description">
            	<%= @event.description %>
            </div>
        </div>

  <%else%>
  	<div class="alert alert-block alert-error fade in">
              <h4 class="alert-heading">亲，该活动不存在！</h4>
              <p>该活动有可能被删除，或者去火星了</p>
              <p>
                <a class="btn" href="/events">返回活动列表</a> 
              </p>
       </div>
  <%end%>
</section>

