<!DOCTYPE html>
<html>
<head>
  <title>义梦中国</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= yield (:body_class) %>">
<header>

    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/events">活动</a></li>
        <li><a href="/stories">团队成长</a></li>
        <!-- <li><a href="">联系我们</a></li> -->
      </ul>

    </nav>
</header>

<div class="main-content">
  <%= yield %>
</div>

<footer>

  <ul>
      <li>  
        <a id="mail" href="mailto:ymzg.org@gmail.com" target="_blank">
          <span>ymzg.org@gmail.com</span>
        </a>
    </li>

    <li>
        <a href="#" id="qq" target="_blank">
        <span>QQ: 375583027</span>
        </a>
    </li>
 
     <li>
      <a id="weixin" href="#" target="_blank">
        <span class="weixin-popup"><%= image_tag "/img/qr-weixin.jpg" %></span>
      </a>
    </li>
    <li>
        <a id="weibo" href="http://weibo.com/u/3539183451" target="_blank">
          <span>微博: @义梦中国</span>
        </a>

    </li>

  </ul>
  <div class="copyright"> © 义梦中国 2013. Powered by <a href="http://www.thoughtworks.com">ThoughtWorks</a>.</div>
</footer>
</body>
</html>
