<!DOCTYPE html>
<html>
<head>
  <title>义梦中国</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">
<header>
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <!-- <li><a href="/events">活动</a></li> -->
        <li><a href="/stories">团队成长</a></li>
        <!-- <li><a href="">联系我们</a></li> -->
      </ul>
    </nav>
</header>

<div class="main-content">
  <%= yield %>
</div>

<footer>
  <ul>
    <li>
      <div>
          <a href="#" target="_blank">
            <div>
              <%= image_tag "weixin.jpg" %>
              <p>扫描二维码加微信</p>
            </div>
            <%= image_tag "weixin.png" %>
          </a>
      </div>
    </li>
    <li>
      <div>
        <div>
          <a href="#" class="qq" target="_blank">
            <div>
              <%= image_tag "qq.png" %>
              <p>qq群：77309632</p>
              <p></p>
            </div>
            <%= image_tag "qq.png" %>
          </a>
        </div>
      </div>
    </li>
    <li>
      <div>
        <a href="http://weibo.com/u/3539183451" target="_blank">
          <div>
            <%= image_tag "weibo.png" %>
            <p>点击关注义梦中国微博</p>
            <p></p>
          </div>
          <%= image_tag "weibo.png" %>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="mailto:478583979@qq.com" target="_blank">
          <div>
            <%= image_tag "mail.png" %>
            <p>给义梦中国发邮件</p>
          </div>
          <%= image_tag "mail.png" %>
        </a>
      </div>
    </li>
  </ul>
</footer>
</body>
</html>
