<!DOCTYPE html>
<html>
<head>
  <title>义梦中国</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43199490-2', 'ymzg.org');
    ga('send', 'pageview');
  </script>
</head>

<body class="<%= yield (:body_class) %>">
<header>

    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <!--<li><a href="/events">活动</a></li>-->
        <li><a href="/stories">团队成长</a></li>
        <!-- <li><a href="">联系我们</a></li> -->
      </ul>

    </nav>
</header>

<div class="main-content">
  <%= yield %>
</div>

<footer>

  <ul id="footer-ul">
      <li>  
        <a id="mail" href="mailto:ymzg.org@gmail.com" target="_blank">
          <span>ymzg.org@gmail.com</span>
        </a>
    </li>

    <li>
        <a href="#" id="qq" target="_blank">
        <span>QQ: 375583027</span>
        </a>
    </li>
 
     <li>
      <a id="weixin" href="http://weixin.qq.com/r/CXUHCMXEm-vkh9RrnyAt" target="_blank">
        <span class="weixin-popup"><%= image_tag "/img/thumb/qr-weixin.jpg" %></span>
      </a>
    </li>
    <li>
        <a id="weibo" href="http://weibo.com/u/3539183451" target="_blank">
          <span>微博: @义梦中国</span>
        </a>

    </li>

  </ul>
  <div class="copyright"> © 义梦中国 2013. Powered by <a href="http://www.thoughtworks.com">ThoughtWorks</a>.</div>
</footer>
</body>
</html>
