<!DOCTYPE html>
<html>
<head>
  <title>义梦中国</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= yield (:body_class) %>">
<header>
    <nav>
      <ul>
        <li><a href="/">首页</a></li>
        <!-- <li><a href="/events">活动</a></li> -->
        <li><a href="">团队成长</a></li>
        <!-- <li><a href="">联系我们</a></li> -->
      </ul>
    </nav>
</header>

<div class="main-content">
  <%= yield %>
</div>

<footer>
  <ul>
    <li>
      <a href="#" class="weixin" target="_blank">
        <span class="weixin-img"><%= image_tag "weixin.jpg" %></span></a>
    </li>
    <li>
      <a href="#" class="qq" target="_blank">
        <span class="qqhao">QQ:77309632</span></a>
    </li>
    <li>
      <a href="http://weibo.com/u/3539183451" class="weibo" title="@义梦中国" target="_blank">微博</a>
    </li>
    <li>
      <a href="mailto:478583979@qq.com" class="mailbox" title="写邮件给义梦中国" target="_blank">邮箱</a>
    </li>
  </ul>
</footer>

</body>
</html>
